Code/MISDCode/MISD.Workstation.Windows/Service References/WSWebService/WorkstationWebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WorkstationWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://acid.visus.uni-stuttgart.de:8002/workstationWebService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://acid.visus.uni-stuttgart.de:8002/workstationWebService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://acid.visus.uni-stuttgart.de:8002/workstationWebService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MISD.Core" />
      <xsd:import schemaLocation="http://acid.visus.uni-stuttgart.de:8002/workstationWebService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://acid.visus.uni-stuttgart.de:8002/workstationWebService?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWorkstationWebService_GetMainUpdateInterval_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMainUpdateInterval" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_GetMainUpdateInterval_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMainUpdateIntervalResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_SignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_SignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_SignOut_InputMessage">
    <wsdl:part name="parameters" element="tns:SignOut" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_SignOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignOutResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_GetPluginList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPluginList" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_GetPluginList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPluginListResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_DownloadPlugins_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadPlugins" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_DownloadPlugins_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadPluginsResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_UploadIndicatorValues_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadIndicatorValues" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_UploadIndicatorValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadIndicatorValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_UploadIndicatorValue_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadIndicatorValue" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_UploadIndicatorValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadIndicatorValueResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_GetFilters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilters" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_GetFilters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFiltersResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_GetFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilter" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_GetFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_GetUpdateIntervals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateIntervals" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_GetUpdateIntervals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateIntervalsResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_GetUpdateInterval_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateInterval" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_GetUpdateInterval_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateIntervalResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_WriteLog_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteLog" />
  </wsdl:message>
  <wsdl:message name="IWorkstationWebService_WriteLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteLogResponse" />
  </wsdl:message>
  <wsdl:portType name="IWorkstationWebService">
    <wsdl:operation name="GetMainUpdateInterval">
      <wsdl:input wsam:Action="http://tempuri.org/IWorkstationWebService/GetMainUpdateInterval" message="tns:IWorkstationWebService_GetMainUpdateInterval_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWorkstationWebService/GetMainUpdateIntervalResponse" message="tns:IWorkstationWebService_GetMainUpdateInterval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <wsdl:input wsam:Action="http://tempuri.org/IWorkstationWebService/SignIn" message="tns:IWorkstationWebService_SignIn_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWorkstationWebService/SignInResponse" message="tns:IWorkstationWebService_SignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <wsdl:input wsam:Action="http://tempuri.org/IWorkstationWebService/SignOut" message="tns:IWorkstationWebService_SignOut_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWorkstationWebService/SignOutResponse" message="tns:IWorkstationWebService_SignOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPluginList">
      <wsdl:input wsam:Action="http://tempuri.org/IWorkstationWebService/GetPluginList" message="tns:IWorkstationWebService_GetPluginList_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWorkstationWebService/GetPluginListResponse" message="tns:IWorkstationWebService_GetPluginList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadPlugins">
      <wsdl:input wsam:Action="http://tempuri.org/IWorkstationWebService/DownloadPlugins" message="tns:IWorkstationWebService_DownloadPlugins_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWorkstationWebService/DownloadPluginsResponse" message="tns:IWorkstationWebService_DownloadPlugins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadIndicatorValues">
      <wsdl:input wsam:Action="http://tempuri.org/IWorkstationWebService/UploadIndicatorValues" message="tns:IWorkstationWebService_UploadIndicatorValues_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWorkstationWebService/UploadIndicatorValuesResponse" message="tns:IWorkstationWebService_UploadIndicatorValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadIndicatorValue">
      <wsdl:input wsam:Action="http://tempuri.org/IWorkstationWebService/UploadIndicatorValue" message="tns:IWorkstationWebService_UploadIndicatorValue_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWorkstationWebService/UploadIndicatorValueResponse" message="tns:IWorkstationWebService_UploadIndicatorValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilters">
      <wsdl:input wsam:Action="http://tempuri.org/IWorkstationWebService/GetFilters" message="tns:IWorkstationWebService_GetFilters_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWorkstationWebService/GetFiltersResponse" message="tns:IWorkstationWebService_GetFilters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilter">
      <wsdl:input wsam:Action="http://tempuri.org/IWorkstationWebService/GetFilter" message="tns:IWorkstationWebService_GetFilter_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWorkstationWebService/GetFilterResponse" message="tns:IWorkstationWebService_GetFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateIntervals">
      <wsdl:input wsam:Action="http://tempuri.org/IWorkstationWebService/GetUpdateIntervals" message="tns:IWorkstationWebService_GetUpdateIntervals_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWorkstationWebService/GetUpdateIntervalsResponse" message="tns:IWorkstationWebService_GetUpdateIntervals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateInterval">
      <wsdl:input wsam:Action="http://tempuri.org/IWorkstationWebService/GetUpdateInterval" message="tns:IWorkstationWebService_GetUpdateInterval_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWorkstationWebService/GetUpdateIntervalResponse" message="tns:IWorkstationWebService_GetUpdateInterval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteLog">
      <wsdl:input wsam:Action="http://tempuri.org/IWorkstationWebService/WriteLog" message="tns:IWorkstationWebService_WriteLog_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWorkstationWebService/WriteLogResponse" message="tns:IWorkstationWebService_WriteLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWorkstationWebService" type="tns:IWorkstationWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMainUpdateInterval">
      <soap:operation soapAction="http://tempuri.org/IWorkstationWebService/GetMainUpdateInterval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://tempuri.org/IWorkstationWebService/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <soap:operation soapAction="http://tempuri.org/IWorkstationWebService/SignOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPluginList">
      <soap:operation soapAction="http://tempuri.org/IWorkstationWebService/GetPluginList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPlugins">
      <soap:operation soapAction="http://tempuri.org/IWorkstationWebService/DownloadPlugins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadIndicatorValues">
      <soap:operation soapAction="http://tempuri.org/IWorkstationWebService/UploadIndicatorValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadIndicatorValue">
      <soap:operation soapAction="http://tempuri.org/IWorkstationWebService/UploadIndicatorValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilters">
      <soap:operation soapAction="http://tempuri.org/IWorkstationWebService/GetFilters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilter">
      <soap:operation soapAction="http://tempuri.org/IWorkstationWebService/GetFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateIntervals">
      <soap:operation soapAction="http://tempuri.org/IWorkstationWebService/GetUpdateIntervals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateInterval">
      <soap:operation soapAction="http://tempuri.org/IWorkstationWebService/GetUpdateInterval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteLog">
      <soap:operation soapAction="http://tempuri.org/IWorkstationWebService/WriteLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WorkstationWebService">
    <wsdl:port name="BasicHttpBinding_IWorkstationWebService" binding="tns:BasicHttpBinding_IWorkstationWebService">
      <soap:address location="http://acid.visus.uni-stuttgart.de:8002/workstationWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>