Code/MISDCode/MISD.Client.Model/Service References/Synchronization/clientWebService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/MISD.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MISD.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://acid.visus.uni-stuttgart.de:8001/clientWebService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://acid.visus.uni-stuttgart.de:8001/clientWebService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfPluginMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PluginMetadata" nillable="true" type="tns:PluginMetadata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPluginMetadata" nillable="true" type="tns:ArrayOfPluginMetadata" />
  <xs:complexType name="PluginMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Copyright" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Indicators" nillable="true" type="tns:ArrayOfIndicatorSettings" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Version" nillable="true" type="q1:Version" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PluginMetadata" nillable="true" type="tns:PluginMetadata" />
  <xs:complexType name="ArrayOfIndicatorSettings">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndicatorSettings" nillable="true" type="tns:IndicatorSettings" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndicatorSettings" nillable="true" type="tns:ArrayOfIndicatorSettings" />
  <xs:complexType name="IndicatorSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataType" type="tns:DataType" />
      <xs:element minOccurs="0" name="FilterStatement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndicatorMapping" type="tns:MappingState" />
      <xs:element minOccurs="0" name="IndicatorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MappingDuration" type="ser:duration" />
      <xs:element minOccurs="0" name="MetricCritical" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MetricWarning" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonitoredSystemMAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PluginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StorageDuration" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdateInterval" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndicatorSettings" nillable="true" type="tns:IndicatorSettings" />
  <xs:simpleType name="DataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="String" />
      <xs:enumeration value="Float" />
      <xs:enumeration value="Int" />
      <xs:enumeration value="Byte" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DataType" nillable="true" type="tns:DataType" />
  <xs:simpleType name="MappingState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Critical" />
      <xs:enumeration value="Maintenance" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MappingState" nillable="true" type="tns:MappingState" />
  <xs:complexType name="ArrayOfPluginFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PluginFile" nillable="true" type="tns:PluginFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPluginFile" nillable="true" type="tns:ArrayOfPluginFile" />
  <xs:complexType name="PluginFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileAsBase64" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PluginFile" nillable="true" type="tns:PluginFile" />
  <xs:complexType name="ArrayOfLayout">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Layout" nillable="true" type="tns:Layout" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLayout" nillable="true" type="tns:ArrayOfLayout" />
  <xs:complexType name="Layout">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreviewImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Layout" nillable="true" type="tns:Layout" />
  <xs:complexType name="ArrayOfWorkstationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkstationInfo" nillable="true" type="tns:WorkstationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkstationInfo" nillable="true" type="tns:ArrayOfWorkstationInfo" />
  <xs:complexType name="WorkstationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FQDN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsAvailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OuID" type="xs:int" />
      <xs:element minOccurs="0" name="State" type="tns:MappingState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkstationInfo" nillable="true" type="tns:WorkstationInfo" />
</xs:schema>